<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60200870162-6kqdh6bgeomq7a96vgimduof93n9uc29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60200870162-6kqdh6bgeomq7a96vgimduof93n9uc29</string>
	<key>API_KEY</key>
	<string>AIzaSyD0RmdU-95uhZIp9My239Ega2PpOcsT6lc</string>
	<key>GCM_SENDER_ID</key>
	<string>60200870162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmed.com.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatappios-1e7d2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappios-1e7d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60200870162:ios:51dedf80d25da6863853cb</string>
</dict>
</plist>